@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.pagination {
  @include margin-top(2);
  display: flex;

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      color: $color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        color: #a8a8a8;
      }

    }

  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      color: $color-secondary;
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: $color-primary;
      }

      &--disable {
        pointer-events: none;
        color: #a8a8a8;
      }

    }

  }

}