@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/mixins' as *;

.author {
  display: flex;
  justify-content: space-around;

  border-top: 1px solid $color-gray-border;
  max-width: $layout-post-width;
  padding-top: 20px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(2);

  &__bio {
    &-twitter {
      display: block;
      text-decoration: underline;
    }
  }
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }
}
