@use '../../assets/scss/variables' as *;
@use '../../assets/scss/mixins' as *;

.share {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 3rem;

  p {
    margin: 0;
  }
}
