@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.share {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;

  p {
    margin: 0;
  }
}
