@use '../../../assets/scss/variables' as *;
@use '../../../assets/scss/mixins' as *;

.meta {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  &__date {
    font-style: italic;
  }
}
